[submodule "zencoding"]
	path = zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "IndentGuides"]
	path = IndentGuides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "html5.vim"]
	path = html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "MatchTag"]
	path = MatchTag
	url = git://github.com/gregsexton/MatchTag.git
