[submodule "zencoding"]
	path = zencoding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "IndentGuides"]
	path = IndentGuides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = git://github.com/wavded/vim-stylus.git
